<div *ngIf="hero"> 
    <div>{{hero.name}}</div>
    <div>Attack:<input type="number" [(ngModel)]="hero.atackStat"></div>
    <div>Def:<input type="number" [(ngModel)]="hero.def"></div>
    <div>HP:{{hero.hpStat}}/ <input type="number" [(ngModel)]="hero.hpStat"></div>
    <div>Special Attack :<input type="number" [(ngModel)]="hero.specialAttackChance"></div>
</div>

