<p>MONSTER!!</p>
<div *ngIf="monster">
    <p>monster works!</p>
    <div>{{monster[0].name}}</div>
    <div>Attack:<input type="number" [(ngModel)]="monster[0].atackStat"></div>
    <div>Def:<input type="number" [(ngModel)]="monster[0].def"></div>
    <div>HP:{{monster[0].hpStat}}/<input type="number" [(ngModel)]="monster[0].hpStat"></div>
    <div>Special Attack :<input type="number"  [(ngModel)]="monster[0].specialAttackChance"></div>
</div>